*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    max-width: 1200px;
    background-color: white;
    margin: 0 auto;
}

.titolo{
    color: rgb(255, 0, 0);
    font-style: fedoka;
    text-align: center;
}
.p1{
    text-align: center; 
}

.debug{
    border: 3px solid black;
    padding: 10px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.clearflix::after{
    content: "";
    display: table;
    clear: both;
}
.pull-left{
    float: left;
}